* {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}
body {
	background-color: #333;
	color: #ddd;
	font-size: 19px;
	font-weight: bold;
	margin: 0;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 2px solid #555;
	text-align: left;
	padding: 8px;
}

th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #3c3c3c;
}

tr:nth-child(even) {
	background-color: #3c3c3c;
}

.filter {
	/* float: right; */
	font-size: 0.9em;
}

#ipFilter, #filterOperator, #lengthFilter {
	border-radius: 10px;
    outline: none;
    padding: 5px;
    font-size: 14px;
    font-family: inherit;
    font-weight: 550;
    color: #ddd;
    background: #2d2d2d;
    border-color: #555;
    border-style: solid;
}

#filterOperator {
	border-radius: 10px 0 0 10px;
	border-width: 2px;
	border-right: none;
	/* appearance: none; */
}

#lengthFilter {
	width: 6em;
	border-radius: 0 10px 10px 0;
	padding: 6px;
}

@media only screen and (max-width: 800px) {
	body {
	  font-size: 14px;
	}

	#ipFilter {
		width: 100px;
	}

	#lengthFilter {
		width: 50px;
	}
}